# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
space-shooter-linux
space-shooter-windows
space-shooter-macos

# Test binary
*.test

# Output of go coverage
*.out

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
